.button {
  text-transform: uppercase;
  color: $text-white;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  background-color: $background-menu;
  display: block;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 17px;
}
