.button {
  text-transform: uppercase;
  color: $white;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  background-color: $background-blue;
  display: block;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 17px;
  border: none;
  font-family: inherit;
  font-weight: 700;
}
