.title {
  text-transform: uppercase;
  line-height: 26px;
  font-size: 18px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.title--tablet {
  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}
