$black: rgba(0, 0, 0, 1);
$blue: #81b3d2;
$white: #ffffff;
$gray: #d6d6d6;
$light-gray: #eeeeee;
$input-gray: #f2f2f2;
$input-gray-hover: #e5e5e5;
$some-grey: #e6e6e6;
$input-gray-disabled: #d5d5d5;
$light-black: #333333;
$white-gray: #eaeaea;
$border-lighter-blue: #9ac2db;
$border-dark-blue: #527286;
$brown: #766357;
$dark-blue: #5496bd;
$text-menu-active: rgba(255, 255, 255, 0.3);


$tablet-width: 768px;
$desktop-width: 1200px;
$desktop-width-only: 1199px;
$mobile-width-only: 767px;
$mobile-width: 320px;
