.socials-list {
  display: flex;
  list-style: none;
  padding: 0 50px;

  &__item {
    margin-right: 6px;
  }

  &__link {
    display: block;
    width: 47px;
    height: 48px;
    background-color: $background-menu;
  }

  &__item:last-child {
    margin-right: 0;
  }
}
