.main-intro {
  min-width: 280px;
  min-height: 162px;
  margin: 32px 18px 11px 17px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__title {
    display: inline;
    margin: 0;
  }

  &__text {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
  }
}
