.advantages {
  &__list {
    margin: 0;
    padding: 0;
    background-color: $backgtound-advantages;
    list-style: inside;
  }

  &--wrapper {
    background-color: $background-menu;
    min-width: 320px;
    min-height: 211px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: none;
  }

  &__item {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 1px $border-color solid;
    margin: 0 20px;
    min-height: 167px;
  }

  &__photo {
    max-width: none;
  }
}
