
.advantages__list {
  margin: 0;
  padding: 0;
  background-color: $light-gray;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 256px 256px 256px;
    grid-template-rows: 586px 256px 256px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 400px 400px 400px;
  }
}

.advantages__item {
  border-bottom: 1px $gray solid;
  min-height: 167px;

  &--long-1 {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  &--long-2 {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.advantages--wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.advantages__content-wrapper {
  background-color: $blue;
  min-width: $mobile-width;
  display: flex;
  border: none;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.advantages__photo {
  max-width: 100%;
}

.advantages__title {
  text-align: center;
}

.advantages__text {
  text-align: center;
}

