
.advantages__list {
  margin: 0;
  padding: 0;
  background-color: $light-gray;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 586px 256px 256px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 400px 400px 400px;
  }
}

.advantages__item {
  border-bottom: 1px $gray solid;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  &--long-1 {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  &--long-2 {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

.advantages__item--short .advantages__content-wrapper {
  margin-top: 24px;

  @media (min-width: $tablet-width) {
    margin-top: 44px;
  }
}

.advantages__item--short:nth-child(3) {
  margin-top: 27px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.advantages__item--short .advantages__number {
  margin-top: -7px;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-top: 15px;
    margin-bottom: 20px;
  }
}

.advantages__item--long-1 .advantages__text {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 39px;
    padding-left: 39px;
    margin-top: -5px;
  }
}

.advantages__item--long-2 .advantages__title {
  margin-top: 22px;
}

.advantages__item--long-2 .advantages__text {
  margin-bottom: 35px;

  @media (min-width: $desktop-width) {
    padding-right: 72px;
    padding-left: 72px;
  }
}

.advantages__item-wrapper {
  display: flex;
  flex-direction: column;
  background-color: $blue;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.advantages__item-wrapper .advantages__number {
  color: $white;
  margin-top: -7px;

  @media (min-width: $tablet-width) {
    margin-top: 16px;
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 12px;
  }
}

.advantages__content-wrapper {
  margin: 0 auto;
  margin-top: 56px;
  max-width: 256px;

  @media (max-width: $mobile-width-only) {
    min-width: $mobile-width;
  }

  @media (min-width: $tablet-width) {
    margin-top: 42px;
  }

  @media (min-width: $desktop-width) {
    max-width: 400px;
    margin-top: 52px;
  }
}

.advantages__content-wrapper-revers {
  margin-top: 21px;

  @media (min-width: $tablet-width) {
    order: 2;
    margin-top: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 34px;
  }
}

.advantages__photo {
  max-width: 100%;
  order: 1;
  display: block;
  margin: auto 0;
  width: 100%;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    height: 256px;
  }
}

.advantages__title {
  text-align: center;
  margin-top: 14px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.advantages__number {
  color: $light-black;
  font-size: 14px;
  line-height: 21px;
  display: block;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 15px 0;
  }
}

.advantages__text {
  text-align: center;
  margin-bottom: 25px;
  margin-left: 20px;
  margin-right: 20px;


  @media (min-width: $desktop-width) {
    padding-left: 36px;
    padding-right: 38px;
  }
}
