.developer-link {
  display: flex;
  justify-content: center;
  align-content: stretch;
  text-decoration: none;
  color: $black;

  @media (min-width: $tablet-width) {
    margin: auto 0;
  }
}

.developer-link__icon {
  margin-left: 10px;

  &:hover {
    fill: $blue;
  }

  &:active {
    opacity: 0.3;
  }
}

.developer-link__text {
  text-align: center;

  &:hover {
    color: $blue;
  }

  &:active {
    color: $black;
    opacity: 0.3;
  }
}
