.developer-link {
  display: flex;
  justify-content: center;
  align-content: stretch;
  text-decoration: none;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-top: 38px;
  }
}

.developer-link__icon {
  margin-left: 10px;
}

.developer-link__text {
  text-align: center;
}
