.developer-link {
  display: flex;
  justify-content: center;
  align-content: stretch;
  text-decoration: none;
  color: $black;

  @media (min-width: $tablet-width) {
    margin: auto 0;
  }

  &:hover,
  &:hover .developer-link__text {
    color: $blue;
  }

  &:active {
    opacity: 0.3;
  }
}

.developer-link__icon {
  margin: auto;
  margin-left: 10px;
}

.developer-link__text {
  text-align: center;
  margin-top: 23px;

  @media (min-width: $tablet-width) {
    margin-top: 11px;
  }
}
