.extra-list {
  padding: 0;
  margin: 0;
  background-color: $white;
  display: block;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 400px 400px 400px;
  }
}

.extra-list__item {
  margin: 0 20px;
  list-style: none;
  position: relative;
  padding-top: 9px;

  &:first-child {
    margin-top: 0;
    padding-top: 28px;

    @media (min-width: $tablet-width) {
      padding-top: 0;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0 30px;
    height: 330px;
  }

  &--house::before {
    content: "";
    background: url("../img/icon-house.svg") no-repeat;
    width: 39px;
    height: 37px;
    position: absolute;
    background-position: center;
    left: 1px;
    top: 25px;

    @media (min-width: $tablet-width) {
      width: 75px;
      height: 73px;
      background-size: 100%;
      display: block;
      left: 50%;
      top: 60px;
      margin-left: -37.5px;
    }
  }

  &--gift::before {
    content: "";
    background: url("../img/icon-gift.svg") no-repeat;
    width: 32px;
    height: 38px;
    position: absolute;
    background-position: center;
    left: 4px;
    top: -4px;

    @media (min-width: $tablet-width) {
      width: 63px;
      height: 75px;
      background-size: 100%;
      display: block;
      left: 50%;
      top: 60px;
      margin-left: -31.5px;
    }
  }

  &--burger::before {
    content: "";
    background: url("../img/icon-burger.svg") no-repeat;
    width: 40px;
    height: 35px;
    position: absolute;
    background-position: center;
    left: -3px;
    top: 3px;

    @media (min-width: $tablet-width) {
      width: 76px;
      height: 69px;
      background-size: 100%;
      display: block;
      left: 50%;
      top: 60px;
      margin-left: -38px;
    }
  }

  &--burger {
    padding-bottom: 17px;

    @media (min-width: $tablet-width) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }
  }

  &--gift {
    @media (min-width: $tablet-width) {
      grid-column-start: -1;
      grid-column-end: -2;
    }
  }
}

.extra-list__item--house .extra-list__title {
  @media (max-width: $mobile-width-only) {
    margin-top: 10px;
  }
}

.extra-list__title {
  margin-left: 49px;
  width: auto;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    padding-top: 158px;
    margin-left: 0;
  }
}

.extra-list__text {
  margin-left: 49px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 5px;
  }
}
