.extra-list {
  padding: 0;
  margin: 0;
  background-color: $white;
  display: block;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 256px 256px 256px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 400px 400px 400px;
  }
}

.extra-list__item {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px 0 20px;
  padding-top: 26px;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    height: 304px;
  }
}

.extra-list__title {
  margin-left: 50px;
  width: auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.extra-list__text {
  margin-left: 50px;

  @media (min-width: $tablet-width) {
    margin-top: 15px;
    margin-left: 0;
  }
}
