.form-error {
  padding: 40px 20px 35px 20px;
  max-width: 400px;
}

.form-error__title {
  margin: 0;
  margin-bottom: 8px;
}

.form-error__text {
  margin: 25px 30px;
  text-align: center;
}

.form-error__button {
  min-width: 180px;
  max-width: 272px;
  font-size: 18px;
}
