.form-sent {
  padding-top: 38px;
  max-width: 640px;
  position: fixed;
  background-color: $white;
  box-shadow: $form-shadow;
  bottom: 40%;
  display: none;

  @media (min-width: $tablet-width) {
    bottom: 58%;
  }

  @media (min-width: $desktop-width) {
    bottom: 52%;
    padding-top: 22px;
  }
}

.form-sent__title {
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.form-sent__text {
  margin: 16px 30px 43px;
  text-align: center;
  line-height: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
  }
}

.form-sent__button {
  min-width: 280px;
  max-width: 458px;
  font-size: 18px;
  margin: 20px;

  @media (min-width: $tablet-width) {
    margin: 44px 91px;
    width: 100%;
    font-size: 21px;
    margin-bottom: 47px;
  }
}

.form-sent__button-wrapper {
  background-color: $input-gray;
  width: 100%;
  min-height: 98px;
  max-height: 146px;
  display: flex;
  justify-content: center;
}
