.form {
  min-width: 320px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin-left: 60px;
    margin-right: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 367px 252px 233px 239px 116px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 480px 480px;
    margin-left: 120px;
    margin-right: 120px;
  }
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  margin: 10px 20px;
  padding: 0;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    margin: 0;

    &--user-name {
      grid-column-start: -1;
      grid-column-end: 2;
      margin-left: 58px;
    }

    &--user-contacts {
      grid-column-start: 1;
      grid-column-end: -1;
      grid-row-start: 2;
      grid-row-end: 3;
      border-top: 1px $light-gray solid;
      margin: auto 0;
    }

    &--user-experience {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      border-right: 1px $light-gray solid;
    }

    &--user-place {
      grid-column-start: 1;
      grid-column-end: -1;
      grid-row-start: 3;
      grid-row-end: 4;
      border-top: 1px $light-gray solid;
      flex-wrap: wrap;
    }

    &--user-comments {
      grid-column-start: 1;
      grid-column-end: -1;
      grid-row-start: 4;
      grid-row-end: 5;
      border-top: 1px $light-gray solid;
    }
  }

  @media (min-width: $desktop-width) {
    &--user-place {
      flex-direction: row;
      flex-wrap: nowrap;
    }

    &--user-contacts {
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  &--wrapper {
    display: flex;
    justify-content: left;
    min-width: 280px;
    margin-top: 20px;
  }
}

.form__legend {
  margin-top: 20px;
  text-align: center;
  max-width: 309px;

  @media (min-width: $tablet-width) {
    padding-left: 46px;
    padding-right: 46px;
  }
}

.form__legend--center {
  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.form__legend--left {
  @media (min-width: $tablet-width) {
    text-align: left;
  }
}


.form__label {
  &--type-text {
    margin: auto;
    padding-right: 13px;
    color: $light-black;
  }

  &--wrapper {
    padding: 0;
    margin-top: 17px;
    margin-bottom: 10px;
    color: $light-black;
  }
}

.form__input {
  height: 48px;
  width: 48px;
  padding-right: 0;
  margin: 20px 24px 0 0;

  &--type-text {
    height: 58px;
    width: 100%;
    font-family: inherit;
    font-stretch: normal;
    background-color: $input-gray;
    border: none;
    margin: 0;
  }

  &--type-checkbox {
    width: 46px;
    height: 46px;
    margin-right: 29px;
  }

  &::placeholder {
    color: $black;
    padding-left: 20px;
  }
}

.form__input--wrapper {
  @media (min-width: $desktop-width) {
    max-width: 258px;
  }
}

.form__comments {
  min-width: 258px;
  min-height: 147px;
  border: none;
  background-color: $input-gray;
  font-family: inherit;
  padding: 13px 0 0 22px;
  margin: 15px 0 0 0;

  &::placeholder {
    color: $black;
  }
}

.form__button {
  min-width: 280px;
  margin: 50px 20px;
  height: 58px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.form__subtext {
  color: $light-black;
  font-size: 14px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    display: block;
    text-align: right;
    max-width: 324px;
  }

  @media (min-width: $desktop-width) {
    max-width: 480px;
  }
}
