.intro {
  display: flex;
  justify-content: center;
  background: url("../img/back-mobile.jpg") no-repeat;
  min-width: 320px;
  max-width: 100%;
  min-height: auto;

  @media (min-width: $tablet-width) {
    background-image: url("../img/back-desktop.jpg") no-repeat;
  }
}

.intro__img {

  margin: 77px 0 91px 0;
}
