.main-intro {
  min-width: 280px;
  margin: 32px 18px 11px 17px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.main-intro__title {
  margin: 0;
}

.main-intro__text {
  margin-top: 25px;
  margin-bottom: 0;
}
