.main-nav {
  display: flex;
  justify-content: space-around;
  flex-direction: column;


  @media (max-width: $mobile-width-only) {
    flex-direction: column;
  }
}

.main-nav--opened {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}

.main-nav--opened ~ .page-header__intro {
  margin-top: 56px;
}

.main-nav--opened .main-nav__list::after {
  @media (max-width: $mobile-width-only) {
    content: "";
    position: absolute;
    bottom: 0;
    height: 7px;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  }
}

.main-nav__list {
  background-color: $blue;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: $mobile-width;
  z-index: 3;

  @media (min-width: $tablet-width) {
    flex-wrap: nowrap;
    background-color: $white;
    min-width: $tablet-width;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    max-height: 56px;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
  }
}

.main-nav--closed .main-nav__list {
  @media (max-width: lo-only) {
    background-color: $white;
  }
}

.main-nav__item {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  line-height: 40px;
  border-top: $border-lighter-blue 1px solid;
  border-bottom: $border-dark-blue 1px solid;

  &--logo {
    border: none;
  }


  @media (min-width: $tablet-width) {
    min-width: 153px;
    border: none;
  }


  @media (min-width: $desktop-width) {
    min-width: 239px;
  }
}

.main-nav__item .main-nav__link[href]:not(.main-nav__logo) {
  @media (max-width: $mobile-width-only) {
    &:hover {
      background-color: $dark-blue;
    }

    &:active {
      background-color: $dark-blue;
      color: $text-menu-active;
    }
  }

  @media (min-width: $tablet-width) {
    &:hover {
      color: $blue;
    }

    &:active {
      color: $black;
      opacity: 0.3;
    }
  }
}

.main-nav__item a:not([href]) {
  @media (min-width: $tablet-width) {
    color: $brown;
  }
}

.main-nav--closed .main-nav__item {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.main-nav--closed .main-nav__item--logo {
  @media (max-width: $mobile-width-only) {
    display: block;
    max-height: 56px;
    background-color: $white;
  }
}

.main-nav__link {
  text-decoration: none;
  text-align: center;
  color: $white;
  padding-top: 10px;
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 14px;
    line-height: 26px;
    display: block;
    z-index: 3;
  }
}

.main-nav__logo {
  padding-top: 0;

  @media (min-width: $tablet-width) {
    padding-top: 41px;
  }
}


.main-nav--closed .main-nav__logo {
  @media (max-width: $mobile-width-only) {
    display: block;
    z-index: 3;
  }
}


.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 4;
  width: 23px;
  height: 23px;
  border: none;
  background-color: $white;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  background-image: url("../img/icon-cross.svg");
  background-color: $blue;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 23px;
  height: 4px;
  background-color: $blue;
  box-shadow: 0 9px 0 0 $blue, 0 18px 0 0 $blue;

  &:hover,
  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

