.page-header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: $mobile-width;
  max-width: $desktop-width;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    background-color: $white;
  }
}
