.page {
  @media (min-width: $desktop-width) {
    background-color: $input-gray;
  }
}

.page__body {

  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    box-shadow: $body-shadow;
    margin: 0 auto;
    max-width: 1200px;
  }
}
