.rent__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 30px;
    margin-bottom: 66px;
  }
}

.rent__text {
  text-align: center;

  @media (max-width: $mobile-width-only) {
    max-width: 580px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
    margin-top: 21px;
  }
}

.rent__button {
  min-width: 280px;

  @media (min-width: $tablet-width) {
    min-width: 458px;
  }
}
