.rent__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.rent__text {
  text-align: center;

  @media (max-width: $mobile-width-only) {
    max-width: 580px;
  }
}

.rent__button {
  min-width: 280px;

  @media (min-width: $tablet-width) {
    min-width: 458px;
  }
}

