.rent__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    margin-top: 30px;
    margin-bottom: 59px;
  }
}

.rent__title {
  margin-top: 13px;
  font-size: 21px;

  @media (min-width: $tablet-width) {
    margin-top: 29px;
    font-size: 30px;
  }
}

.rent__text {
  text-align: center;
  margin-top: 3px;
  margin-bottom: 32px;

  @media (max-width: $mobile-width-only) {
    max-width: 580px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
    margin-top: 6px;
  }
}

.rent__button {
  min-width: 280px;

  @media (min-width: $tablet-width) {
    min-width: 458px;
  }
}
