.socials-list {
  display: flex;
  list-style: none;
  margin: auto 0;
  padding: 0;
}

.socials-list__item {
  margin-right: 6px;
}

.socials-list__link {
  display: block;
  width: 47px;
  height: 48px;
  background-color: $blue;

  &:hover {
    background-color: $dark-blue;
  }

  &:active {
    background-color: $dark-blue;
    color: $text-menu-active;
  }
}

.socials-list__item:last-child {
  margin-right: 0;
}

