.video-player {
  background: url("../img/video-mobile.jpg") no-repeat;

  @media (min-width: $tablet-width) {
    background: url("../img/video-desktop 1.jpg") no-repeat;
  }


  @media (min-width: $desktop-width) {
    background: url("../img/video-desktop.jpg") no-repeat;
  }
}

.video-player__video {
  min-height: 201px;
  min-width: $mobile-width;

  @media (min-width: $tablet-width) {
    min-width: 648px;
    min-height: 500px;
  }

  @media (min-width: $desktop-width) {
    min-width: 800px;
  }
}
