.video-player {
  margin-bottom: -9px;
  width: 100%;

  @media (min-width: $tablet-width) {
    max-height: 500px;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 88px;
  }
}

.video-player__video {
  min-height: 201px;
  width: 100%;
  background: url("../img/photo-catalog/video-mobile.jpg") no-repeat;
  background-position: center;
  background-size: contain;

  @media (min-width: $tablet-width) {
    background: url("../img/photo-catalog/video-tablet.jpg") no-repeat;
    min-width: 648px;
    min-height: 500px;
    background-size: cover;
  }

  @media (min-width: $desktop-width) {
    background: url("../img/photo-catalog/video-desktop.jpg") no-repeat;
    background-size: cover;
    width: 800px;
    margin-left: -11px;
    background-position: center;
  }

  @media (min-resolution: 2dppx) {
    background: url("../img/photo-catalog/video-mobile@2x.jpg") no-repeat;
    background-size: cover;

    @media (min-width: $tablet-width) {
      background: url("../img/photo-catalog/video-tablet@2x.jpg") no-repeat;
      background-size: cover;
    }

    @media (min-width: $desktop-width) {
      background: url("../img/photo-catalog/video-desktop@2x.jpg") no-repeat;
      background-size: cover;
    }
  }
}
